In [7]:
import pandas as pd
import numpy as np

In [5]:
PlayerName = ["RogerFederer", "NovakDjokovic", "RafaelNadal", \
              "AndyMurray", "PeteSampras", "AndreAgassi", \
              "StanWawrinka", "DavidFerrer", "TomasBerdych", "BorisBecker"]
Country = ["Switzerland", "Serbia", "Spain", "UnitedKingdom", \
           "UnitedStates", "UnitedStates", "Switzerland", "Spain", \
           "Czechoslovakia", "Germany"]
PrizeMoney = [111885682, 109805403, 94588627, 60807644, 43280489, 31152975, \
             30905144, 30796561, 28220153, 25080956]
Year = ["2017", "2017", "2017", "2017", "2002", "2006", "2017", "2017", "2017", "1999"]
list_all = [PlayerName, Country, PrizeMoney, Year]
col = ["PlayerName", "Country", "PrizeMoney", "Year"]

In [36]:
stat_tennis_array = np.array(list_all)

In [37]:
stat_tennis_array

array([['RogerFederer', 'NovakDjokovic', 'RafaelNadal', 'AndyMurray',
        'PeteSampras', 'AndreAgassi', 'StanWawrinka', 'DavidFerrer',
        'TomasBerdych', 'BorisBecker'],
       ['Switzerland', 'Serbia', 'Spain', 'UnitedKingdom', 'UnitedStates',
        'UnitedStates', 'Switzerland', 'Spain', 'Czechoslovakia', 'Germany'],
       ['111885682', '109805403', '94588627', '60807644', '43280489',
        '31152975', '30905144', '30796561', '28220153', '25080956'],
       ['2017', '2017', '2017', '2017', '2002', '2006', '2017', '2017',
        '2017', '1999']],
      dtype='<U14')

In [39]:
df = pd.DataFrame(data=stat_tennis_array, columns=list(range(10)), index=col)

In [40]:
df

,0,1,2,3,4,5,6,7,8,9
PlayerName,RogerFederer,NovakDjokovic,RafaelNadal,AndyMurray,PeteSampras,AndreAgassi,StanWawrinka,DavidFerrer,TomasBerdych,BorisBecker
Country,Switzerland,Serbia,Spain,UnitedKingdom,UnitedStates,UnitedStates,Switzerland,Spain,Czechoslovakia,Germany
PrizeMoney,111885682,109805403,94588627,60807644,43280489,31152975,30905144,30796561,28220153,25080956
Year,2017,2017,2017,2017,2002,2006,2017,2017,2017,1999

In [41]:
df = df.transpose()

In [42]:
df

      PlayerName         Country PrizeMoney  Year
0   RogerFederer     Switzerland  111885682  2017
1  NovakDjokovic          Serbia  109805403  2017
2    RafaelNadal           Spain   94588627  2017
3     AndyMurray   UnitedKingdom   60807644  2017
4    PeteSampras    UnitedStates   43280489  2002
5    AndreAgassi    UnitedStates   31152975  2006
6   StanWawrinka     Switzerland   30905144  2017
7    DavidFerrer           Spain   30796561  2017
8   TomasBerdych  Czechoslovakia   28220153  2017
9    BorisBecker         Germany   25080956  1999

In [48]:
df.to_csv(path_or_buf="C:\\Users\\Joseph\\Desktop\\Python\\python basics\\tennis_stat.csv", index=False)

In [43]:
import os 
print(os.getcwd())

C:\Users\Joseph\Desktop\Python\python basics

In [49]:
tennis_stat = pd.read_csv("tennis_stat.csv", )

In [50]:
tennis_stat

      PlayerName         Country  PrizeMoney  Year
0   RogerFederer     Switzerland   111885682  2017
1  NovakDjokovic          Serbia   109805403  2017
2    RafaelNadal           Spain    94588627  2017
3     AndyMurray   UnitedKingdom    60807644  2017
4    PeteSampras    UnitedStates    43280489  2002
5    AndreAgassi    UnitedStates    31152975  2006
6   StanWawrinka     Switzerland    30905144  2017
7    DavidFerrer           Spain    30796561  2017
8   TomasBerdych  Czechoslovakia    28220153  2017
9    BorisBecker         Germany    25080956  1999